<!-- Corporate signup page with angular material controls and recaptcha -->
<div class="container-fluid">
    <div class="ism_login_main">
        <div class="ism_login ism_corporate">
            <img src="../../assets/image/ism_logo.svg" alt="logo">
            <div class="ism_signup">

                <div class="ism_corporatesignup">
                    <label class="ism_labelhead">Corporate Sign-up</label>
                    <!-- Corporate Signup materaial fields -->
                    <form class="example-form" [formGroup]="signupForm">
                        <div class="ism_corporatesignup_form">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="First Name" value="" formControlName="firstName" required>
                                <mat-error>{{getErrorMessage('firstName')}}</mat-error>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Last Name" value="" formControlName="lastName" required>
                                <mat-error>{{getErrorMessage('lastName')}}</mat-error>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Email" type="email" formControlName="email" required>
                                <mat-error>{{getErrorMessage('email')}}</mat-error>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Phone" formControlName="phone" required>
                                <mat-error>{{getErrorMessage('phone')}}</mat-error>
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Password" type="password" formControlName="password"
                                    required>
                                <mat-error>{{getErrorMessage('password')}}</mat-error>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Confirm Password" type="password"
                                    formControlName="confirmPassword" required>
                                <mat-error *ngIf="signupForm.controls.confirmPassword.errors">passwords mismatch
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Company Name" formControlName="companyName" required>
                                <mat-error>{{getErrorMessage('companyName')}}</mat-error>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-select placeholder="Country" formControlName="country" required>
                                    <mat-option value="option">Option1</mat-option>
                                    <mat-option value="option">Option2</mat-option>
                                    <mat-option value="option">Option3</mat-option>
                                    <mat-option value="option">Option4</mat-option>
                                    <mat-option value="option">Option4</mat-option>
                                    <mat-option value="option">Option4</mat-option>
                                    <mat-option value="option">Option</mat-option>
                                </mat-select>
                                <mat-error>{{getErrorMessage('country')}}</mat-error>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Web URL" formControlName="webUrl" required>
                                <mat-error>{{getErrorMessage('webUrl')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="ism_signup_ftr">
                            <div class="capchacenter">
                                    <re-captcha
                                    #captchaRef="reCaptcha"
                                    (resolved)="resolved($event)"
                                    siteKey="6Ldp0xgUAAAAAF_iIss_hpFaVrjLbPGjwyfJwebB"
                                    size="invisible"
                                  ></re-captcha>
                            </div>
                            <mat-checkbox formControlName="checkbox" (change)="checkboxFn()">I agree to the
                                <a href="termsnconditions.html">Terms and Conditions</a>
                                <mat-error *ngIf="checkbox">Please accept Terms and Conditions</mat-error>
                            </mat-checkbox>
                            <button type="submit" (click)="captchaRef.execute()" class="btn btn-primary btn-raised">Register</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="ism_signin">
                <span>Do you have an account?</span>
                <a href="/login">Sign in </a>
            </div>
        </div>
    </div>
</div>