<!-- Forgot Password? page  -->
    <div class="ism_login ism_corporate ism_corporate_signin ism_forgot_page">
        <div class="ism_signup">
            <form class="example-form"  [formGroup]="forgotPwdForm">
                <label class="ism_labelhead">Forgot Your Password?</label>
                <p>Please enter the email address registered on your account</p>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter your email" type="email" formControlName="emailid" required>
                    <mat-error>{{getErrorMessage('emailid')}}</mat-error>
                </mat-form-field>
                <button type="submit" class="btn btn-primary btn-raised" (click)="onClose()">
                    <a>Send Reset Link</a>
                </button>

            </form>
            <!-- <div class="ism_signin">
                    <span>We'll email you a link to change your password.</span>
                </div> -->
        </div>
    </div>
